# Copy this file to queues/active and customize it
# You can have multiple env files in the queue folder

SCENARIO=Zero
RESERVATION_CUTOFF=50
OUTPUT_DIR=outputs/current

NUMBER_OF_ZONES_PER_ROW=10
ZONE_LENGTH=1
ZONE_WIDTH=1
LAMBDA_PARAM=0.1
PLANNING_HORIZON=0.7

NUM_OF_SIMULATIONS=1_000

# the shuttle moves with a constant speed of x units of distance/sec
SHUTTLE_SPEED=0.00556
